@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, html {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #34e369 50%, #3a3a3a 50%);
  background-size: 100% 20%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgba(0,0,0,0.5);
  margin-top: -25px;
}

h1, h2, h3 {
  font-family: "Raleway", 'Open Sans', sans-serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  padding: 25px;
  margin-bottom: 25px;
  font-size: 350%;
}

a, a:visited {
  color: #D4D4D4;
  transition: 0.25s;
}

a:hover {
  color: #34e369;
  text-decoration: none;
}

iframe#content {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 25px;
  color: #D4D4D4;

  overflow: scroll;
  height: 85%;
  width: 100%;
  min-height: 500px;
  position: relative;
  border-radius: 2%;
  top: 25px;

}

div.container {
  padding: 25px;
  color: #D4D4D4;
  overflow: scroll;
  height: 70%;
  width: 90%;
  min-height: 500px;
  position: absolute;
  top: 200px; left: 0; bottom: 100px; right: 0;
}

div.buttons {
  text-align: center;
}

button.part1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-left: 2px solid;
  border-right: none;
}

button.part2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid;
  border-left: none;
}

button.button_panel.active {
  background-color: #34e369;
  color: #3a3a3a;
  border-color: #34e369;
  font-weight: 900;
}

button.button_panel {
  display: inline-block;
  background-color: #3a3a3a;
  padding: 20px;

  font-family: "Open Sans";
  font-weight: 600;
  margin: -2px;

  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #3a3a3a;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.65);
  transition: 0.5s;
}

button.button_panel:hover {
  border-color: #34e369;
}

button.button_panel.active:hover {
  border-color: #3a3a3a;
}

div.footer {
  background-color: rgba(0,0,0,0.5);
  border: none;
  padding: 25px;
  color: #ffffff;
  text-align: center;
}
